<input id='flip-{{slug}}' type='checkbox'>
<label
    aria-label='show info about {{title}}'
    for='flip-{{slug}}'
><i class='icon fa-regular fa-xl fa-circle-question'></i></label>

<a aria-label="Category item" href='/project/{{projectId}}?category={{slugify title}}'>
    <div class='category__item__back'>
        <p>{{#if short_description}}{{short_description}}{{else}}{{description}}{{/if}}</p>
    </div>

    <div class='category__item__front'>
        <i class='icon icon--alt {{#if (ne completed_checklists all_checklists)}} {{icon_class}} {{else}} fa-regular fa-circle-check {{/if}} '></i>
        
        <div class='category__item__content'>
            <div>
                <h2>{{title}}</h2>
                <i class='icon fa-solid fa-chevron-right'></i>
            </div>

            <progress
                class='progress'
                max='100'
                value='{{calcProgress completed_checklists all_checklists}}'
            ></progress>

            <div>
                <p class='category__acc'>{{calcProgress completed_checklists all_checklists}}%<span>&nbsp;completed</span></p>
                <p>{{completed_checklists}} / {{all_checklists}}</p>
            </div>
        </div>
    </div>
</a>