<aside class="checklist__sidebar">
    <button class="sidebar__infoicon">
        <i class="icon fa-regular fa-circle-question"></i>
    </button>
    <section>
        <h2>{{capitalize title}}</h2>

        <div class="sidebar__progress">
            <h3>{{calcProgress project.completed_checklists project.all_checklists}}% accessible</h3>
            <p>{{project.completed_checklists}} / {{project.all_checklists}}</p>
        </div>

        <progress class="progress" value="{{calcProgress project.completed_checklists project.all_checklists}}" min="0" max="100"></progress>

        <button class="hide" class="sidebar__buttons">Close project</button>
    </section>

    {{#if project.description}}
        <section>
            <h3>Project description</h3>
            <p>{{project.description}}</p>
        </section>
    {{/if}}

    {{!-- <section>
        <h3>Audience</h3>
        <p>The target audience is displayed here</p>
    </section> --}}

    <section>

        <h3>Level accessibility</h3>
        <button class="btn">Level {{length project.wcag_level}} (WCAG level {{project.wcag_level}})</button>
    </section>
    <section>
        <h3>Co-workers on this project</h3>
        <ul>
            <li>
                <img
                    class="sidebar__users"
                    src="https://unsplash.it/40/40"
                    alt=""
                />
                <p>Sofia</p>
                <p>(You)</p>
            </li>
            <li>
                <img
                    class="sidebar__users"
                    src="https://unsplash.it/40/40"
                    alt=""
                />
                <p>Thomas</p>
                <p>Researcher</p>
            </li>
            <li>
                <img
                    class="sidebar__users"
                    src="https://unsplash.it/40/40"
                    alt=""
                />
                <p>Anna</p>
                <p>Team lead</p>
            </li>
        </ul>
    </section>
</aside>