<dialog class="dialog dialog-{{slug}}">
    {{!-- flex on the dialog itself breaks it, so we use an extra wrapper --}}
    <section>

        <h2>{{title}}</h2>

        {{#if image_url}}
            <img src="{{image_url}}" alt="{{image_alt}}">
        {{/if}}

        {{{message}}}

        {{#if (and (eq slug "assign_users") (ne projectUsers undefined))}}
			<form id="assign_users" method="POST" action="/project/{{projectId}}/assign">
				<input type="hidden" name="wcag_item_id" value="0">

				<ul class="dialog__user-list">
					{{#each projectUsers }}
						<li>
							<input 
							name="user_ids[]" 
							type="checkbox" 
							id="user_ids-{{ this.user_id }}" 
							value="{{this.user_id}}" >

							<label for="user_ids-{{ this.user_id }}">
								{{> profilePicture imgUrl=this.profile_pic fullName=this.full_name}}
								<span class="dialog__user-list__name">{{this.full_name}}</span>
								<i class="icon user-check fa-solid fa-check-circle"></i>
							</label>
						</li>
					{{/each}}
            	</ul>
			</form>
        {{/if}}

        <div class="dialog__controls">
            {{#if (eq button_type "form")}}
                <form method="dialog">
                    <button class="btn">{{button}}</button>
                </form>
            {{else if (eq button_type "link")}}
                <form method="dialog">
                    <button class="btn btn--cancel">Cancel</button>
                </form>

                <a href="{{button_href}}" class="btn">{{button}}</a>
            {{else if (eq button_type "assign")}}
                <form method="dialog">
                    <button class="btn btn--cancel">Cancel</button>
                </form>

				<form>
                	<button class="btn" form="assign_users" type="submit">{{button}}</button>
				</form>
            {{else}}
                <form method="dialog">
                    <button class="btn btn--cancel">Cancel</button>
                </form>

                <a href="{{button_href}}" class="btn">{{button}}</a>
            {{/if}}
        </div>
    </section>
</dialog>