<dialog class="dialog dialog-{{slug}}">

    {{!-- flex on the dialog itself breaks it, so we use an extra wrapper --}}
    <section>

        <h2>{{title}}</h2>

        {{#if image_url}}
            <img src="{{image_url}}" alt="{{image_alt}}">
        {{/if}}

        {{{message}}}

        {{#if (eq slug "assign_users")}}
            {{!-- needed: users on project, id of user for input id? user image component? --}}
            <ul class="dialog__user-list">
                <li>
                    <input type="checkbox" id="1">
                    <label for="1">
                        <img src="https://unsplash.it/40/40" alt="">
                        <p>John Doe</p>
                        <i class="icon user-check fa-solid fa-check-circle"></i>
                    </label>
                </li>
                <li>
                    <input type="checkbox" id="1">
                    <label for="1">
                        <img src="https://unsplash.it/40/40" alt="">
                        <p>John Doe</p>
                        <i class="icon user-check fa-solid fa-check-circle"></i>
                    </label>
                </li>
                <li>
                    <input type="checkbox" id="1">
                    <label for="1">
                        <img src="https://unsplash.it/40/40" alt="">
                        <p>John Doe</p>
                        <i class="icon user-check fa-solid fa-check-circle"></i>
                    </label>
                </li>              
            </ul>
        {{/if}}

        <div class="dialog__controls">
            {{#if (eq button_type "form")}}

                <form method="dialog">
                    <button class="btn">{{button}}</button>
                </form>

            {{else if (eq button_type "link")}}

                <form method="dialog">
                    <button class="btn--cancel">Cancel</button>
                </form>

                <a href="{{button_href}}" class="btn">{{button}}</a>

            {{else if (eq button_type "assign")}}

                <form method="dialog">
                    <button class="btn--cancel">Cancel</button>
                </form>

                <form method="dialog">
                    <button class="btn">{{button}}</button>
                </form>

            {{else}}

                <form method="dialog">
                    <button class="btn--cancel">Cancel</button>
                </form>

                <a href="{{button_href}}" class="btn">{{button}}</a>

            {{/if}}
        </div>


    </section>

</dialog>
