<dialog class="dialog">

    {{!-- flex on the dialog itself breaks it, so we use an extra wrapper --}}
    <section>

        <h2>{{title}}</h2>

        {{#if image_url}}
            <img src="{{image_url}}" alt="{{image_alt}}">
        {{/if}}

        {{{message}}}

        <div class="dialog__controls">
            <form method="dialog">
                <button>Cancel</button>
            </form>

            <a href="{{button_href}}" class="btn">{{button}}</a>
        </div>


    </section>

</dialog>

{{!-- <dialog open>

    <h2>Title</h2>
    <p>lorem</p>

    <form action="/" method="post">

        <input type="checkbox" id="1" name="1" value="1">
        <label for="1">1</label><br>
        <input type="checkbox" id="2" name="2" value="2">
        <label for="2">2</label><br>
        <input type="checkbox" id="3" name="3" value="3">
        <label for="3">3</label><br><br>

        <button type="submit">Assign</button>
    </form>

    <form method="dialog">
        <button>Cancel</button>
    </form>
    
</dialog>


<dialog open>

    <h2>Title</h2>

    <img src="/images/illustration-wait.svg" alt="">

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis veritatis enim, provident, nam cupiditate, dicta ipsam facilis commodi sint error nihil tenetur quidem sed ducimus aperiam odio molestiae voluptatum eos.</p>

    <form method="dialog">
        <button>Cancel</button>
    </form>

    <form action="/" method="post">
        <button>I understand</button>
    </form>

</dialog>

<dialog open>

    <h2>Title</h2>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis veritatis enim, provident, nam cupiditate, dicta ipsam facilis commodi sint error nihil tenetur quidem sed ducimus aperiam odio molestiae voluptatum eos.</p>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis veritatis enim, provident, nam cupiditate, dicta ipsam facilis commodi sint error nihil tenetur quidem sed ducimus aperiam odio molestiae voluptatum eos.</p>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis veritatis enim, provident, nam cupiditate, dicta ipsam facilis commodi sint error nihil tenetur quidem sed ducimus aperiam odio molestiae voluptatum eos.</p>

    <form action="/" method="post">
        <button>I understand</button>
    </form>

    <a href="#">Learn more</a>

</dialog> --}}


