<dialog class="dialog dialog-{{slug}}">

    {{!-- flex on the dialog itself breaks it, so we use an extra wrapper --}}
    <section>

        <h2>{{title}}</h2>

        {{#if image_url}}
            <img src="{{image_url}}" alt="{{image_alt}}">
        {{/if}}

        {{{message}}}

        {{#if (and (eq slug "assign_users") (ne projectUsers undefined))}}
            {{ log projectUsers }}

            <ul class="dialog__user-list">

                {{#each projectUsers }}
                    <li>
                        <input type="checkbox" id="user_id-{{ this.user_id }}">
                        <label for="user_id-{{ this.user_id }}">
                            <img src="https://unsplash.it/40/40" alt="Profile picture of {{this.full_name}}">
                            <p>{{ this.full_name}}</p>
                            <i class="icon user-check fa-solid fa-check-circle"></i>
                        </label>
                    </li>
                   
                {{/each}}

                
            </ul>

            
        {{/if}}

        <div class="dialog__controls">
            {{#if (eq button_type "form")}}

                <form method="dialog">
                    <button class="btn">{{button}}</button>
                </form>

            {{else if (eq button_type "link")}}

                <form method="dialog">
                    <button class="btn--cancel">Cancel</button>
                </form>

                <a href="{{button_href}}" class="btn">{{button}}</a>

            {{else if (eq button_type "assign")}}

                <form method="dialog">
                    <button class="btn--cancel">Cancel</button>
                </form>

                <form method="dialog">
                    <button class="btn">{{button}}</button>
                </form>

            {{else}}

                <form method="dialog">
                    <button class="btn--cancel">Cancel</button>
                </form>

                <a href="{{button_href}}" class="btn">{{button}}</a>

            {{/if}}
        </div>


    </section>

</dialog>
