<form action="/project/{{pid}}/submit" method="post" data-checklist-id="{{wcag_item_id}}">

	<input type="hidden" name="wcag_item_id" value="{{wcag_item_id}}">
	<input type="hidden" name="parent_id" value="{{parent_id}}">
	<input type="hidden" name="is_completed" value="{{is_completed}}">
	<input type="hidden" name="checklist_assignees" value="{{userArrToIdString assignees}}">

	<input 
	class="checklist__checkbox" 
	type="checkbox" 
	id="wcag_{{wcag_item_id}}" 
	name="wcag_{{wcag_item_id}}"
	{{#if is_completed}}checked{{/if}} 
	value="{{is_completed}}" 
	/>

	<label for="wcag_{{wcag_item_id}}">
		<span>
			<i class="fa-solid fa-check"></i>
		</span>

		<div class="checklist__content">
			<h4>{{title}} <span>({{wcag_level}})</span></h4>
			<p>{{{description}}}</p>

			<div class="checklist__details">
				<details>
					<summary>
						<p>
							<i class="icon fa-solid fa-plus"></i>
							<i class="icon fa-solid fa-minus"></i>
							Tips & Tricks</p>
					</summary>

					<p>{{{tip_description}}}</p>
					<a class="checklist__source" target="_blank" href={{ref_link}}>Official WCAG website</a>
				</details>

				<div class="checklist__users">
					{{!-- <button class="btn--user hide" type="button">
						<i class="icon fa-solid fa-user-plus"></i>
					</button> --}}

					{{#if (gt assignees.length 2)}}
						{{#each assignees}}
							{{#if (lt @index 2)}}
								{{>user this}}
							{{/if}}
						{{/each}}
						<span class="user__profile user__counter">+{{subtract assignees.length 2}}</span>
					{{else}}
						{{#each assignees}}
							{{>user this}}
						{{/each}}
					{{/if}}
				</div>
				
				{{#if isAdmin}}
					<button class="btn--user hide" type="button">
						<i class="icon fa-solid fa-user-plus"></i>
					</button>
				{{/if}}
			</div>
		</div>
		<button tabindex="-1" type="submit" data-checklist-button></button>
	</label>
</form>