<form action="/project/{{pid}}/submit" method="post" data-checklist-id="{{wcag_item_id}}">


	<input type="hidden" name="wcag_item_id" value="{{wcag_item_id}}">
	<input type="hidden" name="parent_id" value="{{parent_id}}">
	<input type="hidden" name="is_completed" value="{{is_completed}}">
	<input type="hidden" name="checklist_assignees" value="{{userArrToIdString assignees}}">

	<input 
	class="checklist__checkbox" 
	type="checkbox" 
	id="wcag_{{wcag_item_id}}" 
	name="wcag_{{wcag_item_id}}"
	{{#if is_completed}}checked{{/if}} 
	value="{{is_completed}}" 
	>

	<label for="wcag_{{wcag_item_id}}">
		<span class="checklist__icon">
			<i class="fa-solid fa-check"></i>
		</span>

		<span class="checklist__content">
			<h4>{{title}} <span>({{wcag_level}})</span></h4>
			<p>{{{description}}}</p>

			<span class="checklist__details">
				<details>
					<summary>
						<p>
						<i class="fa-solid fa-chevron-up"></i>
							More info</p>
					</summary>

					<p>{{{tip_description}}}</p>
					<a class="checklist__source" target="_blank" href={{ref_link}}><i class="icon fa-solid fa-up-right-from-square"></i>View WCAG details</a>
				</details>

				<span class="checklist__users">
					{{#if isAdmin}}
						<button aria-label="Assign users" class="btn--user hide" type="button">
							<i class="icon fa-solid fa-user-plus"></i>
						</button>
					{{/if}}

					{{#if (gt assignees.length 2)}}
						{{#each assignees}}
							{{#if (lt @index 2)}}
								{{>profilePicture imgUrl=this.profile_pic fullName=this.full_name}}
							{{/if}}
						{{/each}}
						<span class="profile-pic user__counter">+{{subtract assignees.length 2}}</span>
					{{else}}
						{{#each assignees}}
							{{>profilePicture imgUrl=this.profile_pic fullName=this.full_name}}
						{{/each}}
					{{/if}}
				</span>
			</span>
		</span>
		<button aria-label="Checklist item" tabindex="-1" type="submit" data-checklist-button></button>
	</label>
</form>