<form action="/project/{{pid}}/submit" method="post">

	<input type="hidden" name="wcag_item_id" value="{{wcag_item_id}}">
	<input type="hidden" name="parent_id" value="{{parent_id}}">
	<input type="hidden" name="is_completed" value="{{is_completed}}">

	<button tabindex="-1" type="submit" data-checklist-button>

		<input 
		class="checklist__checkbox" 
		type="checkbox" 
		id="wcag_{{wcag_item_id}}" 
		name="wcag_{{wcag_item_id}}"
		{{#if is_completed}}checked{{/if}}
		value="{{is_completed}}" />

		<label for="wcag_{{wcag_item_id}}">
			<span></span>
			<div class="checklist__content">
				<h4>{{title}} <span>({{wcag_level}})</span></h4>
				<p>{{{description}}}</p>

					<details>
						<summary>
							<p>
								<i class="icon fa-solid fa-plus"></i>
								<i class="icon fa-solid fa-minus"></i>
								Tips & Tricks</p>
						</summary>
						<p>{{{tip_description}}}</p>
						<a class="checklist__source" target="_blank" href={{ref_link}}>Official WCAG website</a>
					</details>

				{{#if users}}
					<div class="checklist__users">

						{{#if (gt users.length 2)}}
							{{#each users}}
								{{#if (lt @index 2)}}
									<figure>
										<img src="https://unsplash.it/40/40" alt="" />
									</figure>
								{{/if}}
							{{/each}}
							<span>+{{subtract users.length 3}}</span>
							{{else}}
								{{#each users}}
									<figure>
										<img src="https://unsplash.it/40/40" alt="" />
									</figure>
								{{/each}}
						{{/if}}

					</div>
				{{/if}}
			</div>
		</label>

	</button>
</form>
