<aside class="desktop-nav">
    <a class="logo" href="#">{{>icons/logo}}</a>

    <div class="searchbar">
        <button class="searchbar__button" type="submit">{{>icons/search}}</button>
        <input class="searchbar__input" type="text" placeholder="Zoeken" />
    </div>

    <nav>
		<ul>
			<li class="all-projects active">
				<a href="/">{{>icons/tilesicon}}All projects</a>

				{{#if this.recentProjectNames}}
                    <details>
                        <summary>{{> icons/arrowup}}</summary>
                        <ol>
                            {{#each this.recentProjectNames}}
                                <li>
                                    <a href="/project/{{this.project_id}}/categories">{{this.title}}</a>
                                </li>
                            {{/each}}
                        </ol>
                    </details>
                {{/if}}
			</li>
			<li><a href="#">{{>icons/recent}}Recent</a></li>
			<li><a href="#">{{>icons/archive}}Archive</a></li>

			<li><a href="/settings">{{>icons/settings}}Settings</a></li>
			<li>
				<a href="/settings">
                    <img src="https://unsplash.it/40/40" />
                    <div>
                    	<p>{{user.first_name}}</p>
                    	<p>{{user.email_address}}</p>
                    </div>
                </a>
				<a href="/logout">{{>icons/login}}</a>
			</li>
		</ul>
    </nav>
</aside>

<header class="mobile-nav">
	<div class="container__icon">
		{{#if (ne title 'Dashboard')}}
			<a href="#" class="icon-back" aria-label="back to previous page">
				{{>icons/arrowleft}}
				<p>back</p>
			</a>
		{{/if}}

		{{#if (ne title 'Settings')}}
			<a href="/settings" aria-label="open settings">
				{{>icons/settings}}
			</a>
		{{/if}}
	</div>

    <div class="container__content">
		<div class="content-header">
			{{#if (eq title 'Dashboard')}}
				<p>Welcome, {{user.first_name}}</p>
			{{/if}}
        	<h1>{{title}}</h1>
		</div>

		{{#if (eq title 'Settings')}}
			<form class="content-avatar">
				<img src="https://source.unsplash.com/random/?profile,picture" alt="profile picture of {{user.first_name}}" />
				<label>
					{{>icons/pen}}
					<input type="file" name="avatar" />
				</label>
			</form>
		{{/if}}
    </div>
	
	{{!-- decorative spans --}}
	<span class="bg-circle"></span>
	<span class="bg-circle"></span>
	<span class="bg-circle"></span>
</header>