<aside class="nav nav__desktop">
    <nav>
		<ul>
			<li {{#if (eq head.currentPath '/')}}class="active"{{/if}}>
				<a href="/" aria-label="home">
					<i class="fa-solid fa-house"></i>
					<p>Home</p>
				</a>
			</li>

			<li {{#if (eq head.currentPath '/search')}}class="active"{{/if}}>
				<a href="/search">
					<i class="fa-solid fa-magnifying-glass"></i>
					<p>Search</p>
				</a>
			</li>

			<li {{#if (eq head.currentPath '/settings')}}class="active"{{/if}}>
				<a href="/settings">
					<i class="fa-solid fa-gear"></i>
					<p>Settings</p>
				</a>
			</li>

			<li class="profile-icon">
				<a href="/settings">
					{{> profilePicture imgUrl=user.profile_pic fullName=user.full_name}}
					<p>Account</p>
				</a>
			</li>
		</ul>
    </nav>
</aside>

<header class="nav nav__mobile">
	<div class="container__icon">
		{{#if head.backUrl}}
			<a href="{{head.backUrl}}" class="icon-back" aria-label="back to previous page">
				<i class="icon fa-solid fa-chevron-left"></i>
				back
			</a>
		{{/if}}

		{{#unless (eq head.currentPath '/settings')}}
			<a href="/settings" class="btn btn--nav" aria-label="open settings">
				<i class="fa-solid fa-gear"></i>
			</a>
		{{/unless}}
	</div>

    <div class="container__content">
		<div class="content-header">
			{{#if (eq title 'Dashboard')}}
				<p>Welcome, {{user.first_name}}</p>
			{{/if}}
        	<h1>{{#if mobileTitle}}{{mobileTitle}}{{else if title}}{{title}}{{else}}{{project.title}}{{/if}}</h1>
		</div>

		{{#if (eq title 'Settings')}}
			<form method="POST" action="/settings" enctype="multipart/form-data" class="content-avatar">
				{{> profilePicture imgUrl=avatar fullName=user.full_name imgClass="avatar"}}
				<label aria-label="edit profile picture">
					<i class="fa-solid fa-pencil"></i>
					<input type="file" name="avatar" />
				</label>
				<button type="submit">Upload</button>
			</form>
		{{/if}}
    </div>
	
	{{!-- decorative spans --}}
	<span class="bg-circle"></span>
	<span class="bg-circle"></span>
	<span class="bg-circle"></span>
</header>