<span class="profile-pic">
	<img src="{{this.env.imgBucket}}{{this.imgUrl}}" alt="" onerror="this.style.display='none';" onload="this.style.display='block'"
		{{#if this.imgClass}}class="{{this.imgClass}}"{{/if}}>
	<span aria-label="{{this.fullName}}">
		{{fullNameToInitials this.fullName}}
	</span>
</span>