{{#if (ne this null)}}
    <a href="/project/{{this.project_id}}?category=content" draggable="false">
        <header>
            <img
                src="https://fastly.picsum.photos/id/820/40/40.jpg?hmac=kZkyBeRLe53RBNNVxzfiC2csALM9zByR2aPHGRtIBpo"
                alt="a"
            />
            <div>
                <h3>{{this.title}}</h3>
                <div class="status {{toLowerCase this.status}}">
                    {{#if (eq this.completed_checklists 0)}}
						{{> icons/bolt}}
                    {{else if (eq (toLowerCase this.status) "wip")}}
						{{> icons/clock}}
                    {{else}}
						{{> icons/check-border}}
                    {{/if}}
					<p>{{this.status}}</p>
                </div>
            </div>
        </header>

        <section class="project-data">
            <div class="step">
                <h4>Step</h4>
                <p>{{this.step}}</p>
            </div>
            <div class="checklists">
                <h4>Checklists</h4>
                <p>{{this.completed_checklists}} / {{this.all_checklists}}</p>
            </div>

            <div class="team-members">
                <h4>Members</h4>
                <span>

                    {{#each this.all_users}}
						{{#if this.profile_pic}}
                        <img
                            src="{{this.profile_pic}}"
                            title="{{this.full_name}}"
                            alt="{{this.full_name}}"
                        />

						{{else}}
						<div title="{{this.full_name}}">{{fullNameToInitials this.full_name}}</div>
						{{/if}}
                    {{/each}}
                </span>
            </div>
        </section>

        <section class="projectCard__progress">
            <progress class="progress"
                value={{round
                    (multiply
                        (divide this.completed_checklists this.all_checklists)
                        100
                    )
                }}
                min="0"
                max="100"
            ></progress>
            {{! <3 handlebars }}
            <div>
                <p>{{round
                    (multiply
                        (divide this.completed_checklists this.all_checklists)
                        100
                    )
                }}% accessible</p>
                <p>{{this.completed_checklists}} / {{this.all_checklists}}</p>
                {{> icons/arrowright}}
            </div>
        </section>
    </a>

{{else}}
    <a href="/new-project">+ New project</a>
{{/if}}