{{#if (ne this null)}}
    <a href="/project/{{this.project_id}}/categories" draggable="false">
        <header>
            <div class="header__title">
                <h3>{{this.title}}</h3>
                <div class="status {{toLowerCase this.status}}">

                    {{#if (eq this.completed_checklists 0)}}
						<i class="fa-solid fa-bolt"></i>
                    {{else if (eq (toLowerCase this.status) "wip")}}
						<i class="fa-regular fa-hourglass-half"></i>
                    {{else}}
						<i class="fa-regular fa-circle-check"></i>
                    {{/if}}
					<p>{{this.status}}</p>
                </div>
            </div>

            <div class="header__members">
                <p>7+</p>
                <i class="icon fa-regular fa-user fa-lg"></i>
            </div>
        </header>

        <section class="projectCard__progress">
            <progress class="progress"
                value="{{round
                    (multiply
                        (divide this.completed_checklists this.all_checklists)
                        100
                    )
                }}"
                min="0"
                max="100"
            ></progress>

            <div>
                <p>{{round
                    (multiply
                        (divide this.completed_checklists this.all_checklists)
                        100
                    )
                }}% accessible</p>
                <p>{{this.completed_checklists}} / {{this.all_checklists}}</p>
                <i class="icon fa-solid fa-chevron-right"></i>
            </div>
        </section>
    </a>

{{else}}
    <a href="/new-project">+ New project</a>
{{/if}}