<figure class="user__profile">
    {{#if this.profile_pic}}
        <img src="/{{this.profile_pic}}" alt="Profile picture of {{this.fullName}}" title="{{this.full_name}}" />
    {{else}}
        <p>{{fullNameToInitials this.full_name}}</p>
    {{/if}}
</figure>