<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<title>{{head.title}}</title>
		<meta name="description" content="{{head.description}}">

		<link rel="icon" href="data:;base64,iVBORw0KGgo=">
		<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
		<link rel="stylesheet" href="/css/index.css">
		<script src="https://kit.fontawesome.com/117f2851ed.js" crossorigin="anonymous"></script>

		{{#each head.scripts}}
			<script src="/js/{{this}}.js" type="module"></script>
		{{/each}}
		<script src="/js/theme.js" defer></script>
	</head>

	<body {{#unless noNav}}class="page-with-nav"{{/unless}}>
		{{#unless noNav}}{{> navigation}}{{/unless}}

		{{#each dialog_messages}}
			{{>dialog this projectUsers=../project.all_users projectId=../this.project.project_id}}
		{{/each}}

		{{#if loading}}
			{{>loading}}
		{{/if}}
		<div class="message message--system {{#if system_message}}{{system_message.message_class}}{{/if}} animate animate--slide {{#unless system_message}}hide{{/unless}}">
			<p>{{system_message.message}}</p>
		</div>

		{{{body}}}

		{{#if (and dialog_message dialog_trigger)}}
			<script src="/js/dialog.js" type="module"></script>
		{{/if}}
	</body>
</html>