<main>
    <h1>Account</h1>
    {{#if user.first_name}}
        <p>First name: {{user.first_name}}</p>
    {{/if}}
    {{#if user.insertion}}
        <p>Insertion: {{user.insertion}}</p>
    {{/if}}
    {{#if user.surname}}
        <p>Surname: {{user.surname}}</p>
    {{/if}}

    <p>Email: {{user.email_address}}</p>

    {{#if message}}
        <p>{{message}}</p>
    {{/if}}

    <form action='/change-password' method='POST'>
        <input type='password' placeholder='Current password' name='oldpassword' />
        <input type='password' placeholder='New password' name='newpassword' />
        <button type='submit'>Change Password</button>
    </form>
</main>