<main class="layout layout__checklist">

    {{> dialog}}

    <section class="checklist">
        <div class="checklist__title">
			<h3>{{category}}</h3>
            <p class="counter">{{project.completed_checklists}} / {{project.all_checklists}}</p>
        </div>

        <ol>
            {{#each tasks}}
				<li class="checklist__item">
					{{> listItem pid=../project.project_id checklist=this}}
				</li>
            {{/each}}
        </ol>
    </section>

    {{>checklistSidebar title=(concat "{{category}} progress") project=project}}

</main>

<input class="hidden-project-id" type="hidden" value="{{project.project_id}}">