<main class="layout layout__checklist">

    <section class="checklist">
        <div class="checklist__title">
			<h3>{{category}}</h3>
            <p class="counter"><span class="completed-checks-counter">{{project.completed_checklists}}</span> / {{project.all_checklists}}</p>
        </div>

        <ol>
            <li>
                <h4>Level A</h4>
                <ul>
                    {{#each (sortTasksByLevel tasks "A")}}
                        <li class="checklist__item">
                            {{> listItem pid=../project.project_id checklist=this}}
                        </li>
                    {{else}}
                        <li>
                            <p>No tasks found for Level A</p>
                        </li>
                    {{/each}}
                </ul>
            </li>
            
            {{#if (or (eq project.wcag_level "AA") (eq project.wcag_level "AAA"))}}
                <li>
                    <h4>Level AA</h4>
                    <ul>
                        {{#each (sortTasksByLevel tasks "AA")}}
                            <li class="checklist__item">
                                {{> listItem pid=../project.project_id checklist=this}}
                            </li>
                        {{else}}
                            <li>
                                <p>No tasks found for Level AA</p>
                            </li>
                        {{/each}}
                    </ul>
                </li>
            {{/if}}

            {{#if (eq project.wcag_level "AAA")}}
                <li>
                    <h4>Level AAA</h4>
                    <ul>
                        {{#each (sortTasksByLevel tasks "AAA")}}
                            <li class="checklist__item">
                                {{> listItem pid=../project.project_id checklist=this}}
                            </li>
                        {{else}}
                            <li>
                                <p>No tasks found for Level AAA</p>
                            </li>
                        {{/each}}
                    </ul>
                </li>
            {{/if}}
        </ol>
    </section>

    {{>checklistSidebar title=(concat "{{category}} progress") project=project}}

</main>

<input class="hidden-project-id" type="hidden" value="{{project.project_id}}">