<main class="layout layout__checklist">

		<section class="progress__header">
    	{{>pageTitleHeader title=category.title horizontalTitle=(concat "{{project.completed_checklists}} / {{project.all_checklists}}") }}

		<div>
            <h3>
				<span class='percentage-count'>{{calcProgress
						project.completed_checklists
						project.all_checklists
					}}</span>% completed
			</h3>
                <p class='completed-checks-counter'>
                    {{project.completed_checklists}}
                    /
                    {{project.all_checklists}}
                </p>
            </div>

            <progress
                class='progress'
                max='100'
                value='{{calcProgress
                    project.completed_checklists
                    project.all_checklists
                }}'
            ></progress>
	</section>

    <p class="checklist__description">{{category.description}}</p>

	{{>checklistSidebar title=(concat "{{category.title}} progress") project=project isAdmin=isAdmin}}

    <section class="checklist" id="main">
        <ol>
            <li>
                <h4>Level A</h4>
                <ul>
                    {{#each (filterTasksByLevel tasks "A")}}
                        <li class="checklist__item">
                            {{> listItem isAdmin=../isAdmin pid=../project.project_id checklist=this this=../this}}
                        </li>
                    {{/each}}
                </ul>
            </li>
            
            {{#if (ne project.wcag_level "A")}}
                <li>
                    <h4>Level AA</h4>
                    <ul>
                        {{#each (filterTasksByLevel tasks "AA")}}
                            <li class="checklist__item">
                                {{> listItem ../this.env isAdmin=../isAdmin pid=../project.project_id checklist=this}}
                            </li>
                        {{else}}
                            <li>
                                <p>No tasks found for Level AA</p>
                            </li>
                        {{/each}}
                    </ul>
                </li>
            {{/if}}

            {{#if (eq project.wcag_level "AAA")}}
                <li>
                    <h4>Level AAA</h4>
                    <ul>
                        {{#each (filterTasksByLevel tasks "AAA")}}
                            <li class="checklist__item">
                                {{> listItem ../this.env isAdmin=../isAdmin pid=../project.project_id checklist=this}}
                            </li>
                        {{else}}
                            <li>
                                <p>No tasks found for Level AAA</p>
                            </li>
                        {{/each}}
                    </ul>
                </li>
            {{/if}}
        </ol>
    </section>
</main>

<input class="hidden-project-id" type="hidden" value="{{project.project_id}}">