<main class="layout layout__checklist">

	{{>pageTitleHeader title=category backBtn=(concat "/project/{{project.project_id}}/categories") horizontalTitle=(concat "{{project.completed_checklists}} / {{project.all_checklists}}") }}

    <section class="checklist">
        <ol>
            {{#each tasks}}
				<li class="checklist__item">
					{{> listItem pid=../project.project_id checklist=this}}
				</li>
            {{/each}}
        </ol>
    </section>

    {{>checklistSidebar title=(concat "{{category}} progress") project=project}}

</main>

<input class="hidden-project-id" type="hidden" value="{{project.project_id}}">