<main class="layout__register">

    <form method="POST" novalidate>
      <h3 class="subtext">Tell us about yourself</h3>

        {{#if general-form-error}}
            <div class="message message--error message--gen">
                <i class="fa-solid fa-triangle-exclamation"></i><p>We were unable to create an account for you. Check if you have filled everything in correctly!</p>
            </div>
        {{/if}}

        <fieldset class="form__section {{#if first_name-error.length}} form__error {{/if}}">
            <label for="first_name">First Name <span class="required">*</span></label>
            <input
                aria-describedby="first_name-error"
                type="text"
                name="first_name"
                id="first_name"
                placeholder="First Name"
                value="{{first_name-user_input}}"
                data-input-type="first_name"
                required
            >
            <label id="first_name-error" class="message message--error {{#unless first_name-error.length}}hide{{/unless}}"><i class="fa-solid fa-triangle-exclamation"></i> {{first_name-error}}</label>
        </fieldset>

        <section class="surname">
            <fieldset class="form__section" id="insertionField">
                <label for="insertion">Insertion</label>
                <input
                    type="text"
                    name="insertion"
                    id="insertion"
                    placeholder="Insertion"
                    value="{{insertion-user_input}}"
                    data-input-type="insertion"
                >
            </fieldset>

            <fieldset class="form__section {{#if surname-error.length}} form__error {{/if}}" id="surnameField">
                <label for="surname">Surname <span class="required">*</span></label>
                <input
                    aria-describedby="surname-error"
                    type="text"
                    name="surname"
                    id="surname"
                    placeholder="Surname"
                    value="{{surname-user_input}}"
                    data-input-type="surname"
                    required
                >
            </fieldset>
        </section>
        <label id="surname-error" class="message message--error {{#unless surname-error.length}}hide{{/unless}}"><i class="fa-solid fa-triangle-exclamation"></i> {{surname-error}}</label>

        <hr class="registerHr">

        <fieldset class="form__section {{#if email_address-error.length}} form__error {{/if}}">
            <label for="email_address">Email <span class="required">*</span></label>
            <input
                aria-describedby="email_address-error"
                type="email"
                name="email_address"
                id="email_address"
                placeholder="Email"
                value="{{email_address-user_input}}"
                autocapitalize="off"
                pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"
                data-input-type="email_address"
                required
            >
            <label id="email_address-error" class="message message--error {{#unless email_address-error.length}}hide{{/unless}}"><i class="fa-solid fa-triangle-exclamation"></i> {{email_address-error}}</label>
        </fieldset>

        <section class="passwords">
            <fieldset class="form__section form__section {{#if password-error.length}} form__error {{/if}}">
                <label for="password">Password <span class="required">*</span></label>
                <input
                    aria-describedby="password-error"
                    type="password"
                    name="password"
                    id="password"
                    placeholder="Password (at least 6 characters)"
                    autocomplete="off"
                    data-input-type="password"
                    required
                >
            </fieldset>

            <fieldset class="form__section {{#if confirm_password-error.length}} form__error {{/if}}">
                <label for="confirm_password">Confirm password <span class="required">*</span></label>
                <input
                    aria-describedby="confirm_password-error"
                    type="password"
                    name="confirm_password"
                    id="confirm_password"
                    placeholder="Confirm Password"
                    autocomplete="off"
                    data-input-type="confirm_password"
                    required
                >
            </fieldset>


        </section>
            <label id="password-error" class="message message--error {{#unless password-error.length}}hide{{/unless}}"><i class="fa-solid fa-triangle-exclamation"></i> {{password-error}}</label>
            <label id="confirm_password-error" class="message message--error {{#unless confirm_password-error.length}}hide{{/unless}}"><i class="fa-solid fa-triangle-exclamation"></i> {{confirm_password-error}}</label>

        <button class="btn btn--login" type="submit">Register</button>

        <p class="login__or">or</p>
        <p class="login__signuptext">Already have an account? <a href="/login" class="login__forgot">Login here</a></p>
        <a href="/login" class="btn btn--secondary">Login</a>
    </form>

    <section class="background-decoration">
        <span class="bg-circle"></span>
        <span class="bg-circle"></span>
        <span class="bg-circle"></span>
        {{>icons/logo}}
    </section>
</main>