<main class="layout__login">

    <form method="POST">
        <h2>Hi there!</h2>

        <fieldset class="form__section">
            <label for="first_name">First Name</label>
            <input
                type="name"
                name="first_name"
                id="first_name"
                placeholder="First Name"
                data-input-type="first_name"
                required
            />
            <label class="error {{#unless first_name-error.length}}hide{{/unless}}">{{first_name-error}}</label>
        </fieldset>

        <fieldset class="form__section">
            <label for="insertion">Insertion</label>
            <input
                type="name"
                name="insertion"
                id="insertion"
                placeholder="Insertion"
                data-input-type="insertion"
            />
        </fieldset>

        <fieldset class="form__section">
            <label for="surname">Surname</label>
            <input
                type="name"
                name="surname"
                id="surname"
                placeholder="Surname"
                data-input-type="surname"
                required
            />
            <label class="error {{#unless surname-error.length}}hide{{/unless}}">{{surname-error}}</label>
        </fieldset>

        <fieldset class="form__section">
            <label for="email_address">Email</label>
            <input
                type="email"
                name="email_address"
                id="email_address"
                placeholder="Email"
                autocapitalize="off"
                pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"
                data-input-type="email_address"
                required
            />
            <label class="error {{#unless email_address-error.length}}hide{{/unless}}">{{email_address-error}}</label>
        </fieldset>

        <fieldset class="form__section">
            <label for="password">Password</label>
            <input
                type="password"
                name="password"
                id="password"
                placeholder="Password"
                autocomplete="off"
                data-input-type="password"
                required
            />
            <label class="error {{#unless password-error.length}}hide{{/unless}}">{{password-error}}</label>
        </fieldset>

        <fieldset class="form__section">
            <label for="confirm_password">Confirm password</label>
            <input
                type="password"
                name="confirm_password"
                id="confirm_password"
                placeholder="Confirm Password"
                autocomplete="off"
                data-input-type="confirm_password"
                required
            />
            <label class="error {{#unless confirm_password-error.length}}hide{{/unless}}">{{confirm_password-error}}</label>
        </fieldset>

        <button class="btn btn--login" type="submit">Register</button>
        <p class="login__or">or</p>
        <p class="login__signuptext">Already have an account? <a href="/login">Login here</a></p>
        <a href="/login" class="btn btn--secondary">Login</a>
    </form>

    <section class="login-aside">
        <h1>Digital accessibility made easy with
            Appclusive</h1>
        <div class="login__checklistitem"></div>
        {{>icons/logo}}

        <span class="bg-circle"></span>
        <span class="bg-circle"></span>
        <span class="bg-circle"></span>
    </section>
</main>