<main class="layout layout__settings" id="main">

    {{>pageTitleHeader title="Settings"}}
    
    {{#if general-form-error}}
        <div class="message message--error message--gen">
			<i class="fa-solid fa-triangle-exclamation"></i><p>{{general-form-error}}</p>
        </div>
    {{/if}}
        
    <form class="settings" autocomplete="off" method="POST" enctype="multipart/form-data" action="/settings" novalidate>
       
        <fieldset class="settings__item-email">
            <legend>Email address*</legend>

            <div class="settings__item-input">
                <input aria-describedby="email-error" type="email" name="email_address" id="email_address" placeholder=" " value="{{user.email_address}}">
                <label for="email_address">Email address*</label>
            </div>
            <label id="email-error" class="message message--error {{#unless email_address-error.length}}hide{{/unless}}"><i class="fa-solid fa-triangle-exclamation"></i> {{email_address-error}}</label>
        </fieldset>

        <fieldset class="settings__item-name">
            <legend>Full name*</legend>

            <div class="settings__item-input">
                <input aria-describedby="first_name-error" type="text" name="first_name" id="first_name" placeholder=" " value="{{user.first_name}}" >
                <label for="first_name">First name*</label>
            </div>

            <label id="first_name-error" class="message message--error {{#unless first_name-error.length}}hide{{/unless}}"><i class="fa-solid fa-triangle-exclamation"></i> {{first_name-error}}</label>


            <div class="settings__item-input">
                <input type="text" name="insertion" id="insertion" placeholder=" " value="{{user.insertion}}">
                <label for="insertion">Insertion</label>
            </div>

            <div class="settings__item-input">
                <input aria-describedby="surname-error" type="text" name="surname" id="surname" placeholder=" " value="{{user.surname}}">
                <label for="surname">Surname*</label>
            </div>
            <label id="surname-error" class="message message--error {{#unless surname-error.length}}hide{{/unless}}"><i class="fa-solid fa-triangle-exclamation"></i> {{surname-error}}</label>
        </fieldset>

       <fieldset class="settings__item-password">
            <legend>Change password</legend>

            <div class="settings__item-input">
                <input autocomplete="new-password" aria-describedby="password-error" type='password' name='old_password' id="old_password" placeholder=" ">
                <label for="old_password">Current password</label>
            </div>
            <label id="password-error" class="message message--error {{#unless old_password-error.length}}hide{{/unless}}"><i class="fa-solid fa-triangle-exclamation"></i> {{old_password-error}}</label>

            <div class="settings__item-input">
                <input autocomplete="new-password" aria-describedby="new_password-error" type='password' name='new_password' id="new_password" placeholder=" ">
                <label for="new_password">New password</label>
            </div>
            <label id="new_password-error" class="message message--error {{#unless new_password-error.length}}hide{{/unless}}"><i class="fa-solid fa-triangle-exclamation"></i> {{new_password-error}}</label>
        </fieldset>

        <fieldset class="settings__item-avatar content-avatar">
			<section class="img-container">
				{{>profilePicture imgUrl=avatar fullName=user.full_name imgClass="avatar"}}
				<label tabindex="0" aria-label="edit profile picture">
					<i class="fa-solid fa-pencil"></i>
					<input type="file" name="avatar">
				</label>
			</section>

			<fieldset class="theme-selector">
				<legend>Change theme</legend>

				<div>
					<input type="radio" id="light" name="theme" value="light"checked>
					<label for="light">Light</label>
				</div>

				<div>
					<input type="radio" id="dark" name="theme" value="dark">
					<label for="dark">Dark</label>
				</div>
			</fieldset>

            <fieldset>
				<legend>Onboarding tour</legend>
				<a href="/" id="revisitOnboarding">Revisit the onboarding tour by clicking here.</a>
			</fieldset>
        </fieldset>

        <div>
            <button type="submit" class="btn btn--alt">Save changes</button>

            <a href="/logout">
                <p>Logout</p>
                <i class="icon icon--light fa-solid fa-arrow-right-from-bracket"></i>
            </a>
        </div>
    </form>

    <form class="delete" method="POST">
        <input type="hidden" name="type" value="delete">
        <button>Delete your account</button>
    </form>

</main>